MINIO_EVENT_EXCHANGE=minio.events # Optional
MINIO_EVENT_QUEUE=image-uploads # Optional
OPTIMIZED_EVENT_QUEUE=image-optimized # Optional

RABBITMQ_USER="" # Used for docker compose
RABBITMQ_PASS="" # Used for docker compose
RABBITMQ_URL="amqp://<username>:<password>@localhost:5672"

MINIO_HOST=localhost # Optional
MINIO_PORT=9000 # Optional
MINIO_USE_SSL=false # Optional
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY_FILE=./.docker/secrets/storage_secret_key.txt # For testing purposes use secrets for this one
