# Inbound
MINIO_EVENT_EXCHANGE=minio.events
MINIO_EVENT_ROUTING_KEY=s3.ObjectCreated
OPTIMIZER_UPLOAD_QUEUE=optimizer.image-uploads # Optional

# Outbound
OPTIMIZER_EVENT_EXCHANGE=app.events # Optional
OPTIMIZER_EVENT_ROUTING_KEY=image.optimized # Optional

# RabbitMQ
RABBITMQ_USER="" # Used for docker compose
RABBITMQ_PASS="" # Used for docker compose
RABBITMQ_URL="amqp://<username>:<password>@localhost:5672"

# Minio
MINIO_HOST=localhost # Optional
MINIO_PORT=9000 # Optional
MINIO_USE_SSL=false # Optional
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY_FILE=./.docker/secrets/storage_secret_key.txt # For testing purposes use secrets for this one
