MINIO_EVENT_EXCHANGE=minio.events # Optional
MINIO_EVENT_QUEUE=image-uploads # Optional

RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_HOST=localhost
RABBITMQ_AMQP_PORT=5672 # Optional

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY_FILE=./.docker/secrets/storage_secret_key.txt # For testing purposes use secrets for this one
MINIO_HOST=localhost
MINIO_API_PORT=9000 # Optional
